@import "tailwindcss";
@import "@tailwindcss/typography";

/* Font Faces */

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/webfonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ///////////////////////////////////////////////////////// */

body {
  font-family: var(--font-family-sans);
}

@theme{
  
  /* Font Family */
  --font-family-sans: "Vazirmatn", system-ui, sans-serif;

  /* Font Size */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;

  /* Primary Colors */
  --color-primary-50: #FEF2F2;
  --color-primary-100: #FEE2E2;
  --color-primary-200: #FECDCD;
  --color-primary-300: #FDA4A4;
  --color-primary-400: #FA7171;
  --color-primary-500: #F23F3F;
  --color-primary-600: #EB0615;
  --color-primary-700: #C50411;
  --color-primary-800: #9F0510;
  --color-primary-900: #820A12;
  --color-primary-950: #480205;

  /* Secondary Colors */
  --color-secondary-50: #EFF6FF;
  --color-secondary-100: #DBEAFE;
  --color-secondary-200: #BFDBFE;
  --color-secondary-300: #93C5FD;
  --color-secondary-400: #60A5FA;
  --color-secondary-500: #3B82F6;
  --color-secondary-600: #2563EB;
  --color-secondary-700: #1D4ED8;
  --color-secondary-800: #1E40AF;
  --color-secondary-900: #1E3A8A;
  --color-secondary-950: #172554;

  /* Neutral Colors */
  --color-neutral-50: #F8FAFC;
  --color-neutral-100: #F1F5F9;
  --color-neutral-200: #E2E8F0;
  --color-neutral-300: #CBD5E1;
  --color-neutral-400: #94A3B8;
  --color-neutral-500: #64748B;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1E293B;
  --color-neutral-900: #0F172A;
  --color-neutral-950: #020617;

  /* Background Colors */
  --color-bg-primary: #0F172A;
  --color-bg-secondary: #1E293B;
  --color-bg-tertiary: #334155;

  /* Success Colors */
  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;
  --color-success-950: #022c22;
  
  /* Warning Colors */
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
  --color-warning-950: #451a03;
  
  /* Danger Colors */
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #fca5a5;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;
  --color-danger-950: #450a0a;

  /* Spaces */
  --space-0: 0px;
  --space-0-5: 2px;
  --space-1: 4px;
  --space-1-5: 6px;
  --space-2: 8px;
  --space-2-5: 10px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-20: 80px;
  --space-24: 96px;

  /* Radiuses */
  --radius-none: 0px;
  --radius-sm: 2px;
  --radius-base: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 24px;
  --radius-full: 9999px;
}

@layer components{
  /* Heading Styles */
  .text-4xl {
    font-size: var(--font-size-4xl);
    font-weight: 700;
    line-height: 44px;
  }
  .text-3xl {
    font-size: var(--font-size-3xl);
    font-weight: 700;
    line-height: 36px;
  }
  .text-2xl {
    font-size: var(--font-size-2xl);
    font-weight: 700;
    line-height: 30px;
  }
  .text-xl {
    font-size: var(--font-size-xl);
    font-weight: 700;
    line-height: 28px;
  }
  
  /* Body Styles */
  .text-body-lg {
    font-size: var(--font-size-lg);
    font-weight: 400;
    line-height: 32px;
  }
  .text-body-base {
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: 28px;
  }
  .text-body-sm {
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 24px;
  }

  /* UI Styles */
  .text-ui-base {
    font-size: var(--font-size-base);
    font-weight: 600;
    line-height: 24px;
  }
  .text-ui-sm {
    font-size: var(--font-size-sm);
    font-weight: 600;
    line-height: 20px;
  }
  .text-ui-xs {
    font-size: var(--font-size-xs);
    font-weight: 600;
    line-height: 16px;
  }
}